html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: ;
}


.navTitles__page:hover {
	background-color: #e5bd7c;
	color: black;
}

#current_page {
	background-color: #454142;
	color: black;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.flex-container{
	display: flex;
	min-height: 100%;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	min-height: 100%;
}

.sidebar {
	display: flex;
	background-color: #933d30;
	list-style-type: none;
	
}

.nav-wrapper ul {
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}

.main {
	flex: 1 1;
	padding: 20px;
	background-color: #d5774c;
	font-family: 'Open Sans', sans-serif;
	
}

.nav {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}

.navTitles {
	padding-left: 25%;

}

.topLeft {
	height: 90px;
	padding-bottom: 20px;
}

.topLeft__name {
	display: flex;
	justify-content: center;
}

.topLeft__icons {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.navTitles__page {
	display: flex;
	justify-content: flex-start;
	padding-left: 25%;
}

.social_icon {
	width: 30px;
	height: 30px;
	padding: 10px;
}

.family {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: space-between;

}

.family__pictures {
	display: flex;
	width: 325px;
	height: 335px;
	padding-top: 30px;
}

.articleTitles {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
}