
html {
	background-color: #1a242d;
}

body {
	padding: 0;
	margin: 0;
}

li a {
	display: -webkit-flex;
	text-decoration: none;
	color: white;
	justify-content: center;
}

ul a:hover {
	background-color: #3f7098;
	color: black;
}
/**********************************Change the color of the currently selected page****************************/
#current_page a {
	background-color: #f90409;
	color: black;
}



.flex-container{
	display: flex;
	justify-content: space-around;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
}

.sidebar {
	flex: 0 0 300px;
	background-color: #415762;
	list-style-type: none;
	height: 100%;
}

.nav-wrapper ul {
	list-style-type: none;
}

.main {
	flex: 1 1 auto;
	padding: 20px;
	background-color: #48b5e0;
}

.social_icon {
	width: 15px;
	height: 15px;
	padding: 0.5%;
}

/*********************************CSS for Tic Tac Toe Game********************************************/
.gameContainer {
	display: flex;
	justify-content: flex-end;
}

.gameContainer__row {
	flex-direction: row;
}

.gameContainer__box {
	display: flex;
	text-align: center;
	background-color: white;
	width: 100px;
	height: 100px;
	border: 2px solid black;
	font-size: 100px;
}

.gameContainer__link{
	
	color: white;
	font-size: 100px
}

.scoreBoard {
	display: flex;
	flex-direction: column;

}
