
html {
	background-color: #1a242d;
}

body {
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
	color: #454142;
}

.link:hover {
	color: #e5bd7c;
}


.navLinks:hover {
	background-color: #f9d338;
	color: black;
}

#current_page {
	background-color: #f9d338;
	color: black;
}
/**********************************Change the color of the currently selected page****************************/


.flex-container{
	display: flex;
	min-height: 100vh;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
}

.navLinks a {
	text-decoration: none;
	color: white;
}

.navLinks {
	border: 1px solid #3c3c3c;
	background-color: #929294;
	border-radius: 2px;
	width: 80%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;

}

.sidebar {
	display: flex;
	background-color: #646464;
	list-style-type: none;
	border-right: 1px solid #3c3c3c;
	
}

.nav-wrapper ul {
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}

.main {
	flex: 1 1;
	padding: 20px;
	background-color: #faf8ec;
	font-family: 'Open Sans', sans-serif;

	
}


/*********************************CSS for Tic Tac Toe Game********************************************/
.gameContainer {
	display: flex;
	flex-direction: column;
}

.gameContainer__row {
	flex-direction: row;
}

.gameContainer__box {
	display: flex;
	text-align: center;
	background-color: white;
	width: 80px;
	height: 80px;
	border: 2px solid black;
	font-size: 80px;
}

.gameContainer__link{
	
	color: white;
	font-size: 80px
}

.scoreBoard {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	width: 255px;
}

.scoreBoard__links {
	text-decoration: none;
	color: #f90409;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
}

.scoreBoard__links.saved_games {
	font-size: 12px;
}

.scoreBoard__linkBox {
	display: flex;
	flex-direction: column;
}

.scoreBoard__scores {
	padding: 5px;
	margin: 0;
	border: 1px solid white;
	background: #415762;
	color: white;
	font-size: 15px;

}

.gameContainer__board {
	display: flex;
	justify-content: center;
}

.gameContainer__scores {
	display: flex;
	justify-content: center;
}

.gameContainer__winDisplay {
	display: flex;
	justify-content: center;
	font-size: 25px;
}
.nav {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}

.navTitles {
	padding-left: 40%;
	font-family: 'Lobster', cursive;
	font-size: 30px;


}

.topLeft {
	display: flex;
	flex-direction: column;
	height: 120px;
	background: #f9d338;
}

.topLeft__name {
	display: flex;
	justify-content: center;
	color: #3c3c3c;
}

.topLeft__icons {
	display: flex;
	align-items: flex-start;
	justify-content: center;

}

.navTitles__page {
	display: flex;
	justify-content: flex-start;
	padding-left: 25%;
}

.social_icon {
	width: 30px;
	height: 30px;
	padding: 10px;
}

.social_icon.gitHub {
	width: 25px;
	height: 25px;
	padding-top: 12px;
}

.social_icon.social_media {
	width: 45px;
	height: 45px;
	padding: 15px;
}

